<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
          <th *ngFor="let colHeader of tableCols" scope="col"> {{ colHeader }} </th>
        </tr>
        </thead>
        <tbody>
    
        <tr *ngFor="let row of data;">
          <td>{{ row.id | number }}</td>
          <td>{{ row.name }}</td>
          <td>{{ row.ageRestriction | number }}</td>
          <td>{{ row.price | number }}</td>
          <td>{{ row.company }}</td>
          <td *ngIf="optionsEnable">
            <a href="#" [routerLink]="" (click)="update(row)">update</a>
            <a href="#" [routerLink]="" (click)="delete(row)">delete</a>
          </td>
        </tr>
        </tbody>
      </table>
</div>
