/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@media (max-width: 250px) {
    body {
        overflow-x: auto;
    }
}