.inventory-management-body {
    margin-top: 50px;
}

label {
    margin-right: 10px;;
}

.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
}
