<div class="inventory-management-body">
  <button-default [buttonType]="statusEnum.Default" buttonText="Add New" (eventClick)="addItem(modalAddUpdate)"></button-default>
  <table-default [tableCols]="tableCols" [data]="data" [optionsEnable]="true" (updateClick)="update($event, modalAddUpdate)" (deleteClick)="delete($event)"></table-default>
</div>
<!-- I USED NG-TEMPLATE TO SHOW A DIFFERENT IMPLEMENTATION INSTEAD OF A SEPARATE COMPONENT -->
<ng-template #modalAddUpdate let-modal>
  <form #form="ngForm" (ngSubmit)="save(form)">
    <div class="modal-header text-center">
      <h4 class="col-12 modal-title text-center" id="modal-basic-title">{{ titleModal }}</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <Label>Name</Label>
        <input id="name" type="text" name="name" class="form-control"
          maxlength="50" required [(ngModel)]="product.name" #name="ngModel" [value]="test">
  
          <div [hidden]="name.valid || name.pristine"
          class="alert alert-danger">
            Name is required
          </div>
      </div>
      <div class="form-group">
        <Label>Price</Label>
        <input id="price" type="number" name="price" class="form-control"
          required [(ngModel)]="product.price" #price="ngModel" >
    
          <div *ngIf="(price.invalid && (price.dirty || price.touched))"
              class="alert alert-danger">
            <div *ngIf="price.errors.required">
              Price is required.
            </div>
          </div>
          <div *ngIf="invalidPrice" class="alert alert-danger">
            Price can be greater than $1000.
          </div>
      </div>
      <div class="form-group">
        <Label>Company</Label>
        <input id="company" type="text" name="company" class="form-control"
          required maxlength="50" [(ngModel)]="product.company" #company="ngModel" >
    
          <div *ngIf="company.invalid && (company.dirty || company.touched)"
              class="alert alert-danger">
            <div *ngIf="company.errors.required">
              Company is required.
            </div>
          </div>
      </div>
      <div class="form-group">
        <Label>Age Restriction</Label>
         <input id="age-restriction" type="range" name="ageRestriction" min="0" max="100" step="1" [value]="rangevalue" (input)="valueChangedRange($event.target.value)">
         {{ rangevalue }}
      </div>
      <div class="form-group">
        <Label>Description</Label>
        <textarea id="description" type="text" name="description" class="form-control"
          maxlength="100" [(ngModel)]="product.description" #description="ngModel"></textarea>
      </div>
    </div>
    <div class="modal-footer">
     <button type="submit" class="btn btn-success">Save</button>
     <button-default [buttonType]="statusEnum.Default" buttonText="Close" (eventClick)="close()"></button-default>
    </div>
  </form>
</ng-template>
